services:
  timescaledb:
    image: timescale/timescaledb:2.23.0-pg18
    container_name: funding-tracker-db
    restart: unless-stopped

    environment:
      POSTGRES_DB: funding_tracker
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

    ports:
      - "5432:5432"

    volumes:
      - timescaledb_data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  timescaledb_data:
    driver: local
